{% extends 'app/base.html' %}
{% load static %}

{% block link %}
  <link href="{% static 'app/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
  <!-- SweetAlert2 CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
{% endblock %}

{% block content %}
  <style>
    .carousel-item img {
      height: 400px; /* กำหนดความสูงของรูปภาพ */
      object-fit: cover; /* ทำให้รูปภาพครอบคลุมพื้นที่ที่กำหนดโดยไม่เสียสัดส่วน */
    }
  </style>
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    {% include 'app/components/sidebar.html' %}
    <!-- End Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Navbar -->
        {% include 'app/components/navbar.html' %}
        <!-- End Navbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <h1 class="h3 mb-3 text-gray-800">จัดการผู้ใช้</h1>
          <div class="mx-auto mb-3">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">เพิ่มผู้ใช้</button>
          </div>
          {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          {% endif %}

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">ตารางแสดงผู้ใช้</h6>
            </div>
            <div class="card-body">
              {% include './table.html' %}
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'app/components/footer.html' %}
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button -->
  <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

  <!-- Detail Modal -->
  {% include './modal_add.html' %}
  {% include './modal_edit.html' %}
  {% include './modal_reset_password.html' %}

  <!-- Page level plugins -->
  {% include './script.html' %}
{% endblock %}
